:root {
  --bg-color-main: #ffffff;
  --bg-color-primary: #f5f4fa;
  --bg-color-secondary: #2f303a;
  --bg-color-accent: #2196f3;
  --txt-color-main: #212121;
  --txt-color-primary: #757575;
  --txt-color-secondary: #ffffff;
  --txt-color-accent: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}
.logo--black {
  color: var(--txt-color-main);
}
.logo--white {
  margin-bottom: 20px;
  color: var(--txt-color-secondary);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo__accent {
  color: var(--txt-color-accent);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--bg-color-accent);
  color: var(--txt-color-secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--dark {
  background-color: var(--bg-color-primary);
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--with-pb {
    padding-top: 0;
  }

  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }

  .section:nth-child(3) {
    display: block;
  }
}
.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: var(--txt-color-secondary);
  background-color: var(--bg-color-accent);
}

.socials__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--txt-color-secondary);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--dark-bg:hover, .socials__link--dark-bg:focus {
  background-color: var(--bg-color-accent);
}

.socials__icon {
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    padding: 10px 0;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    padding: 20px 0;
    max-height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 26px 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--txt-color-main);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-btn:hover, .menu-btn:focus {
    color: var(--txt-color-accent);
  }

  .menu-btn__icon {
    fill: currentColor;
  }

  .menu-btn__cross {
    display: none;
  }
  .menu-btn.is-open .menu-btn__cross {
    display: block;
  }

  .menu-btn.is-open .menu-btn__burger {
    display: none;
  }

  .menu-container {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    min-height: 400px;
    padding: 60px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: var(--bg-color-main);
  }
  .menu-container.is-open {
    display: block;
    z-index: 10;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 93px;
  }
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav__list {
  margin-bottom: 60px;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav__link {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.116;
  letter-spacing: 0.02em;
  color: var(--txt-color-main);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--txt-color-accent);
}

.site-nav__link--current {
  color: var(--txt-color-accent);
  padding-bottom: 8px;
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--bg-color-accent);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    margin-right: auto;
    margin-bottom: 0;
  }

  .site-nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .site-nav__link {
    font-size: 14px;
    line-height: 1.142;
  }

  .site-nav__link--current {
    padding-bottom: 0;
  }
  .site-nav__link--current::after {
    top: 283%;
  }
}
.header-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.116;
  letter-spacing: 0.02em;
  color: var(--txt-color-primary);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--txt-color-accent);
  outline: none;
}
.header-contacts__link:first-child {
  margin-bottom: 16px;
}

.header-contacts__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contacts__link:first-child {
    margin-bottom: 10px;
  }

  .header-contacts__link {
    justify-content: start;
    align-items: end;
    font-size: 12px;
    line-height: 1.166;
  }

  .header-contacts__icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }

  .header-contacts__link:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .header-contacts__link {
    align-items: center;
    font-size: 14px;
    line-height: 1.741;
  }

  .header-contacts__icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
}
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.filter__button {
  min-width: 73px;
  padding: 6px 22px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-primary);
  color: var(--txt-color-main);
  border-radius: 4px;
  border: transparent;
  outline: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:not(:last-child) {
  margin-right: 8px;
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--bg-color-accent);
  color: var(--txt-color-secondary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.portfolio-list__link {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--txt-color-secondary);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  transform: translateY(0);
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--txt-color-main);
}

.portfolio-list__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--txt-color-primary);
}

@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  .portfolio-list__overlay {
    padding: 49px 24px;
  }

  .portfolio-list__content {
    padding: 20px 0px 20px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }

  .portfolio-list__overlay {
    padding: 63px 24px;
  }
}
.page-footer {
  padding: 60px 0;
  background-color: var(--bg-color-secondary);
}

@media screen and (min-width: 768px) {
  .page-footer__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wrap {
    flex-wrap: nowrap;
    justify-content: start;
  }
}
.contacts {
  text-align: center;
  margin-bottom: 60px;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts__address {
  margin-bottom: 8px;
  color: var(--txt-color-secondary);
}

.footer-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.footer-contacts__link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.footer-socials {
  text-align: center;
  margin-bottom: 60px;
}

.footer-socials__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-color-secondary);
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    text-align: left;
    margin-right: auto;
    margin-bottom: 0;
  }
}
.subscribe {
  text-align: center;
}

.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-color-secondary);
}

.subscribe__input {
  display: block;
  width: 450px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:hover, .subscribe__input:focus {
  outline: none;
  border-color: var(--bg-color-accent);
}
.subscribe__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
}
.subscribe__button::after {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icon-send.svg");
}

@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    text-align: left;
  }

  .subscribe__input {
    display: inline-block;
    width: 358px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=portfolio.css.map */