.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;

  color: #afb1b8;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;

  @include transition();
  &:hover,
  &:focus {
    color: var(--bg-color-accent);
    border-color: var(--bg-color-accent);
  }
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
  }
  .clients-list__item {
    width: 170px;
  }
}
