.contacts {
  text-align: center;
  margin-bottom: 60px;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts__address {
  margin-bottom: 8px;
  color: var(--txt-color-secondary);
}

.footer-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
