.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  &--black {
    color: var(--txt-color-main);
  }
  &--white {
    margin-bottom: 20px;
    color: var(--txt-color-secondary);
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo__accent {
  color: var(--txt-color-accent);
}
