.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &--dark {
    background-color: var(--bg-color-primary);
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    &--with-pb {
      padding-top: 0;
    }
  }

  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }

  .section:nth-child(3) {
    display: block;
  }
}
